body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex; 
}

.image{
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}


.odin_symbol{
    position: absolute;
    opacity: 1;
    top: 8rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    background: linear-gradient(180deg ,  black, transparent);
    opacity: 1;
    font-size: 4rem;
    width: 23rem
}

.odin_logo{
    position: relative;
    width: auto;
    height: 6rem;
}