body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: whitesmoke;
}

.container {
    display: flex;
}

.image {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}


.odin_symbol {
    position: absolute;
    opacity: 1;
    top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    background: linear-gradient(180deg, black, transparent);
    opacity: 1;
    font-size: 4rem;
    width: 23rem
}

.odin_logo {
    position: relative;
    width: auto;
    height: 6rem;
}

.content {
    position: relative;
    width: 100vw;
    height: 100vh;
    right: 15rem;
}

.form {
    position: relative;
    bottom: 0.5rem;
    right: 0.9rem;
    width: 40rem;
    height: 20rem;
    top: 8rem;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.2);
    background-color: white;
}

input {
    display: block;
    width: 15rem;
    height: 2rem;
    margin: 1rem 0;
    padding: 0 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

label{
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border: 2px solid #596D48;
}

input:invalid{
    border: 2px solid rgb(241, 99, 99);
}

p{
    margin: 0;
}
form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}

.text{
    position: absolute;
    top: 5rem;
    font-size: large;
}

.button {
    position: absolute;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

button{
    width: 10rem;
    height: 2rem;
    border-radius: 0.5rem;
    color: azure;
    background-color:  #596D48;
}

a{
    color: black;
    text-decoration: none;
}